<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038539323507-khdsrp8spviq38o4j7gebbijl2vondop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038539323507-khdsrp8spviq38o4j7gebbijl2vondop</string>
	<key>API_KEY</key>
	<string>AIzaSyC-tuIwRISrJylC6_GrzCt7kCnZmKsqvP4</string>
	<key>GCM_SENDER_ID</key>
	<string>1038539323507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recoveryApp</string>
	<key>PROJECT_ID</key>
	<string>recovery-app-2e538</string>
	<key>STORAGE_BUCKET</key>
	<string>recovery-app-2e538.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038539323507:ios:46e6d443aead441cc31206</string>
	<key>DATABASE_URL</key>
	<string>https://recovery-app-2e538-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>